# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
lib/
include/
bin/
share/
*.egg-info/
.coverage
.pytest_cache/
htmlcov/
.tox/
.mypy_cache/
.vscode/

# Django
*.log
*.pot
*.mo
*.js.map
*.css.map
db.sqlite3 # SQLite database file
media/ # User-uploaded media files
static_cdn/ # Collected static files for production
# Environment variables
.env
.env.*

# Operating System Files
.DS_Store
.Trash
Thumbs.db

# IDEs and Editors
.idea/ # IntelliJ IDEA / PyCharm
*.sublime-project
*.sublime-workspace
.history/ # VS Code Local History
.csspell
